.App {
  text-align: center;
}

#imgModal {
  max-width: 1000px;
  max-height: 600px;
}


@media screen and (max-width: 1200px) {
  #imgModal {
    max-width: 650px;
    max-height: 500px;
  }
}

@media screen and (max-width: 800px) {
  #imgModal {
    max-width: 400px;
    max-height: 400px;
  }
}

.modal {
  margin: auto;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  cursor: grab;
}


.imgBox {
  overflow: hidden;
}

.buttonBox {
  position: absolute;
  top: 2%;
  right: 1%;
}

.button {
  margin-left: 10px;
  margin-right: 10px;
  height: 3em;
  width: 3em;
  border-radius: 0.3125em;
  border: none;
  background-color: white;
}

.button:hover {
  border: none;
}

.title {
  color: white;
  margin-left: 10px;
}
